doctype html
html(lang="en")
    head

        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="")
        meta(name="author" content="")
        title Triangle HTML5 Template


        // Google Fonts
        link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')

        // Stylesheets
        link(rel='stylesheet', href='css/font-awesome.css')
        link(rel='stylesheet', href='css/bootstrap.css')
        link(rel='stylesheet', href='css/style.css')
        link(rel='stylesheet', href='css/color.css')

    body

        include ../includes/header.jade
        
        +header()

        block content




        // Script Files
        script(src='js/jquery-1.11.2.min.js')
        script(src='js/script.js')
