/*!
 * 
 * Micro-Jobs HTML5 Template v.1.0.0
 * 
 */
.bg-primary, .progress-bar-primary, .pagination > li > a:hover, .pagination > li > a:focus,
.pagination > li > span:hover,
.pagination > li > span:focus {
  background-color: #00a0bc; }

.text-primary, a:hover, a:focus,
a.text-primary:hover,
a.text-primary:focus {
  color: #00a0bc; }

.pagination > li > a:hover, .pagination > li > a:focus,
.pagination > li > span:hover,
.pagination > li > span:focus {
  border-color: #00a0bc; }

/*** Background Color Primary
--------------------------------------------- ***/
.btn-primary {
  background-color: #00a0bc;
  border-color: #00a0bc; }
  .btn-primary:focus, .btn-primary.focus {
    background-color: #00a0bc;
    border-color: #00a0bc; }
    .btn-primary:focus .badge, .btn-primary.focus .badge {
      color: #00a0bc; }
  .btn-primary:hover {
    background-color: #00a0bc;
    border-color: #00a0bc; }
    .btn-primary:hover .badge {
      color: #00a0bc; }
  .btn-primary:active, .btn-primary.active,
  .open > .btn-primary.dropdown-toggle {
    background-color: #00a0bc;
    border-color: #00a0bc; }
    .btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus,
    .open > .btn-primary.dropdown-toggle:hover,
    .open > .btn-primary.dropdown-toggle:focus,
    .open > .btn-primary.dropdown-toggle.focus {
      background-color: #00a0bc;
      border-color: #00a0bc; }
  .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus,
  fieldset[disabled] .btn-primary:hover,
  fieldset[disabled] .btn-primary:focus,
  fieldset[disabled] .btn-primary.focus {
    background-color: #00a0bc;
    border-color: #00a0bc; }
  .btn-primary .badge {
    color: #00a0bc; }

.btn-default:focus, .btn-default.focus, .btn-gray:focus, .btn-gray.focus {
  background-color: #00a0bc;
  border-color: #00a0bc; }
  .btn-default:focus .badge, .btn-default.focus .badge, .btn-gray:focus .badge, .btn-gray.focus .badge {
    color: #00a0bc; }

.btn-default:hover, .btn-gray:hover {
  background-color: #00a0bc;
  border-color: #00a0bc; }
  .btn-default:hover .badge, .btn-gray:hover .badge {
    color: #00a0bc; }

.btn-default:active, .btn-default.active,
.open > .btn-default.dropdown-toggle, .btn-gray:active, .btn-gray.active,
.open > .btn-gray.dropdown-toggle {
  background-color: #00a0bc;
  border-color: #00a0bc; }
  .btn-default:active:hover, .btn-default:active:focus, .btn-default:active.focus, .btn-default.active:hover, .btn-default.active:focus, .btn-default.active.focus,
  .open > .btn-default.dropdown-toggle:hover,
  .open > .btn-default.dropdown-toggle:focus,
  .open > .btn-default.dropdown-toggle.focus, .btn-gray:active:hover, .btn-gray:active:focus, .btn-gray:active.focus, .btn-gray.active:hover, .btn-gray.active:focus, .btn-gray.active.focus,
  .open > .btn-gray.dropdown-toggle:hover,
  .open > .btn-gray.dropdown-toggle:focus,
  .open > .btn-gray.dropdown-toggle.focus {
    background-color: #00a0bc;
    border-color: #00a0bc; }

.btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled.focus, .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled].focus,
fieldset[disabled] .btn-default:hover,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default.focus, .btn-gray.disabled:hover, .btn-gray.disabled:focus, .btn-gray.disabled.focus, .btn-gray[disabled]:hover, .btn-gray[disabled]:focus, .btn-gray[disabled].focus,
fieldset[disabled] .btn-gray:hover,
fieldset[disabled] .btn-gray:focus,
fieldset[disabled] .btn-gray.focus {
  background-color: #00a0bc;
  border-color: #00a0bc; }

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  background-color: #00a0bc;
  border-color: #00a0bc; }
  .list-group-item.active .list-group-item-text, .list-group-item.active:hover .list-group-item-text, .list-group-item.active:focus .list-group-item-text {
    color: #00a0bc; }

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #00a0bc; }

::-moz-selection {
  background-color: #00a0bc; }

::selection {
  background-color: #00a0bc; }

::-moz-selection {
  background-color: #00a0bc; }

/*** Text Color
--------------------------------------------- ***/
/*** Background Color Secondary
--------------------------------------------- ***/
.btn-secondary {
  background-color: #ffc334;
  border-color: #ffc334; }
  .btn-secondary:focus, .btn-secondary.focus {
    background-color: #ffc334;
    border-color: #ffc334; }
    .btn-secondary:focus .badge, .btn-secondary.focus .badge {
      color: #ffc334; }
  .btn-secondary:hover {
    background-color: #ffc334;
    border-color: #ffc334; }
    .btn-secondary:hover .badge {
      color: #ffc334; }
  .btn-secondary:active, .btn-secondary.active,
  .open > .btn-secondary.dropdown-toggle {
    background-color: #ffc334;
    border-color: #ffc334; }
    .btn-secondary:active:hover, .btn-secondary:active:focus, .btn-secondary:active.focus, .btn-secondary.active:hover, .btn-secondary.active:focus, .btn-secondary.active.focus,
    .open > .btn-secondary.dropdown-toggle:hover,
    .open > .btn-secondary.dropdown-toggle:focus,
    .open > .btn-secondary.dropdown-toggle.focus {
      background-color: #ffc334;
      border-color: #ffc334; }
  .btn-secondary.disabled:hover, .btn-secondary.disabled:focus, .btn-secondary.disabled.focus, .btn-secondary[disabled]:hover, .btn-secondary[disabled]:focus, .btn-secondary[disabled].focus,
  fieldset[disabled] .btn-secondary:hover,
  fieldset[disabled] .btn-secondary:focus,
  fieldset[disabled] .btn-secondary.focus {
    background-color: #ffc334;
    border-color: #ffc334; }
  .btn-secondary .badge {
    color: #ffc334; }
