/*!
 * 
 * Login & Registeration Test v.1.0.0
 * 
 */
p {
  color: #f6f6f6; }

/*** Transitions
--------------------------------------------- ***/
.transition-all-4, a, .btn, .form-control, .badge {
  transition: all 0.4s ease; }

/*** overlay
--------------------------------------------- ***/
.overlay {
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0;
  visibility: hidden; }
  .overlay::before {
    opacity: .9;
    background-color: #000;
    display: block;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0; }
  .active .overlay {
    opacity: 1;
    visibility: visible; }
  .overlay h4 {
    color: inherit; }

body {
  background-image: url("../images/pattern.jpg");
  background-repeat: repeat; }

::-moz-selection {
  color: #fff; }

::selection {
  color: #fff; }

::-moz-selection {
  color: #fff; }

[ng\:cloak],
[ng-cloak],
.ng-cloak {
  display: none; }

input.ng-dirty.ng-invalid {
  border-color: #f00; }

.text-underline {
  text-decoration: underline; }

.text-italic {
  font-style: italic; }

.text-bold {
  font-family: 700; }

.text-linethrough {
  text-decoration: line-through; }

/*** user listing ***/
.user-listing {
  margin-bottom: 30px; }
  .user-listing strong {
    margin-right: 5px;
    display: inline-block;
    color: #333333; }
  .user-listing span {
    margin-right: 20px;
    display: inline-block; }

.block-upper {
  margin-bottom: 50px; }

/*** Form Block
--------------------------------------------- ***/
.registration-area {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("../images/bg.png");
  background-position: top center;
  background-size: 100%; }
  @media (min-width: 320px) {
    .registration-area {
      padding-top: 60px; } }
  @media (min-width: 480px) {
    .registration-area {
      padding-top: 85px;
      padding-bottom: 55px; } }
  @media (min-width: 768px) {
    .registration-area {
      padding-top: 135px;
      padding-bottom: 85px; } }
  @media (min-width: 992px) {
    .registration-area {
      padding-top: 150px; } }
  @media (min-width: 1200px) {
    .registration-area {
      padding-top: 185px;
      padding-bottom: 185px;
      background-repeat: no-repeat;
      background-size: auto; } }

.form-box {
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
  font-size: 21px;
  border-radius: 10px;
  border: 1px solid #cecece;
  background-color: #f6f6f6; }
  .form-box .form-box-head {
    padding: 12px 15px;
    margin: -1px -1px 0 -1px;
    color: #fff;
    background-color: #81afc5;
    border-radius: 10px 10px 0 0; }
    .form-box .form-box-head h4 {
      margin-bottom: 0;
      font-size: 15px; }
    .form-box .form-box-head .glyphicon {
      margin-right: 10px; }
    @media (min-width: 480px) {
      .form-box .form-box-head h4 {
        font-size: 21px; } }
    @media (min-width: 768px) {
      .form-box .form-box-head {
        padding: 20px 30px; } }
  .form-box .form-box-contents {
    padding: 25px 15px; }
    .form-box .form-box-contents:before, .form-box .form-box-contents:after {
      content: " ";
      display: table; }
    .form-box .form-box-contents:after {
      clear: both; }
    @media (min-width: 768px) {
      .form-box .form-box-contents {
        padding: 50px 30px; } }
  .form-box label {
    opacity: 0.7; }

.form-box-contents > .row > [class^="col-"] + [class^="col-"] {
  padding-top: 30px;
  margin-top: 30px;
  position: relative; }
  .form-box-contents > .row > [class^="col-"] + [class^="col-"]::before {
    height: 1px;
    content: '';
    background-color: #e7e7e7;
    position: absolute;
    top: 0px;
    left: 20px;
    right: 20px; }

@media (min-width: 768px) {
  .form-box-contents > .row {
    margin-left: -30px;
    margin-right: -30px; }
    .form-box-contents > .row > [class^="col-"] {
      padding-left: 30px;
      padding-right: 30px; }
    .form-box-contents > .row > [class^="col-"] + [class^="col-"] {
      padding-top: 50px;
      margin-top: 50px; }
      .form-box-contents > .row > [class^="col-"] + [class^="col-"]::before {
        left: 50px;
        right: 50px; } }

@media (min-width: 992px) {
  .form-box-contents > .row > [class^="col-"] + [class^="col-"] {
    padding-top: 0px;
    margin-top: 0px; }
    .form-box-contents > .row > [class^="col-"] + [class^="col-"]::before {
      width: 1px;
      height: auto;
      top: 50px;
      bottom: 50px;
      left: 0px; } }

.form-box-contents .form-block {
  position: relative; }
  .form-box-contents .form-block .form-control::-moz-placeholder {
    color: #e9e9e9; }
  .form-box-contents .form-block .form-control:-ms-input-placeholder {
    color: #e9e9e9; }
  .form-box-contents .form-block .form-control::-webkit-input-placeholder {
    color: #e9e9e9; }
  @media (min-width: 768px) {
    .form-box-contents .form-block .form-control {
      padding: 8px 20px;
      font-size: 18px;
      font-weight: 600; } }

.registration-form .form-actions {
  text-align: right; }

.registration-form label {
  font-size: 16px; }

.login-form .form-actions .checkbox {
  font-size: 15px;
  line-height: 20px; }

@media (min-width: 480px) {
  .login-form .form-actions .checkbox {
    display: inline-block; }
  .login-form .form-actions .btn {
    float: right; } }

@media (min-width: 992px) {
  .login-form .form-group {
    margin-bottom: 40px; }
  .login-form .form-control {
    height: 70px; } }

.form-actions:before, .form-actions:after {
  content: " ";
  display: table; }

.form-actions:after {
  clear: both; }

.form-actions .checkbox {
  position: relative; }
  .form-actions .checkbox label {
    padding-left: 30px; }
  .form-actions .checkbox em {
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: 0;
    top: 1px;
    background-color: #e1e1e1;
    border-radius: 4px;
    pointer-events: none; }
    .form-actions .checkbox em::before {
      width: 18px;
      height: 18px;
      display: block;
      content: '';
      font-size: 13px;
      font-family: Fontawesome;
      text-align: center;
      position: absolute;
      left: 0;
      top: 1px; }
  .form-actions .checkbox input[type="checkbox"] {
    margin-left: -30px; }
  .form-actions .checkbox input[type="checkbox"]:checked + em::before {
    content: '\f00c'; }

.form-head:before, .form-head:after {
  content: " ";
  display: table; }

.form-head:after {
  clear: both; }

.form-head h4 {
  display: inline-block; }

.drop-area .drop-text {
  opacity: 0.7;
  font-size: 15px; }

@media (min-width: 480px) {
  .drop-area {
    float: right; }
    .drop-area .drop-text {
      text-align: right;
      display: inline-block; } }

.drop-img {
  background: #fff;
  border: 2px solid #dcdcdc;
  width: 100px;
  height: 95px;
  text-align: center;
  padding-top: 25px;
  border-radius: 10px;
  margin: 0 0 10px 10px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer; }
  .drop-img.dragover {
    border: 2px dashed #81afc5; }
  .drop-img i {
    color: #81afc5;
    font-size: 46px; }

.action-head {
  padding-bottom: 40px;
  margin-bottom: 40px;
  text-align: center;
  position: relative; }
  .action-head::after {
    width: 33px;
    height: 33px;
    line-height: 28px;
    display: block;
    content: '/';
    color: #aaa;
    background-color: #eaeaea;
    border: 1px solid #ddd;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: -15px; }
  .action-head::before {
    width: 100%;
    height: 1px;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background: #f5f5f5;
    background: linear-gradient(to right, #f5f5f5 0%, #dddddd 50%, #f5f5f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#f5f5f5',GradientType=1 ); }
  @media (min-width: 768px) {
    .action-head {
      margin-left: 30px;
      margin-right: 30px; } }
  @media (min-width: 992px) {
    .action-head {
      padding-bottom: 56px;
      margin-bottom: 56px; } }

/*** Facebook Block
--------------------------------------------- ***/
.facebook-stats {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto; }
  .facebook-stats .buttons .btn {
    margin-right: 10px;
    margin-bottom: 10px; }
  .facebook-stats pre {
    background-color: rgba(255, 255, 255, 0.5); }

/*** facebook button ***/
.btn-facebook {
  padding-right: 50px;
  color: #fff;
  background-color: #3c5a98;
  position: relative;
  overflow: hidden;
  font-size: 15px; }
  .btn-facebook:hover, .btn-facebook:focus {
    color: #fff; }
  .btn-facebook .addon {
    width: 40px;
    height: 100%;
    line-height: 52px;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 0;
    right: 0; }
    .btn-facebook .addon i {
      width: 20px;
      height: 20px;
      background: url(../images/facebook.svg) no-repeat top left;
      background-size: contain;
      display: inline-block; }
  .btn-facebook em {
    font-style: normal;
    font-weight: 600;
    font-size: 1.3em;
    display: none; }
  @media (min-width: 320px) {
    .btn-facebook {
      padding-left: 50px;
      padding-right: 30px; }
      .btn-facebook em {
        display: inline; }
      .btn-facebook .addon {
        left: 0;
        right: auto;
        line-height: 62px; } }
  @media (min-width: 480px) {
    .btn-facebook {
      padding-left: 70px;
      font-size: 15px; }
      .btn-facebook .addon {
        width: 50px;
        height: 100%;
        line-height: 75px; }
        .btn-facebook .addon i {
          width: 26px;
          height: 26px; }
      .btn-facebook em {
        font-style: normal;
        font-weight: 600;
        font-size: 1.5em; } }
  @media (min-width: 768px) {
    .btn-facebook {
      font-size: 16px; } }

.fb_reset#fb-root {
  font-size: 15px;
  line-height: 1.42857; }
