/*!
 * 
 * Micro-Jobs HTML5 Template v.1.0.0
 * 
 */

@import "utils/mixins";


$brand-primary:     #00a0bc;
$brand-secondary:   #ffc334;


%background-primary {
  background-color: $brand-primary;
}
%text-primary {
  color: $brand-primary;
}
%border-primary {
  border-color: $brand-primary;
}


%background-secondary {
  background-color: $brand-secondary;
}
%text-secondary {
  color: $brand-secondary;
}
%border-secondary {
  border-color: $brand-secondary;
}



/*** Background Color Primary
--------------------------------------------- ***/
.bg-primary, .progress-bar-primary {
  @extend %background-primary;
}

.btn-primary {
  background-color: $brand-primary;
  border-color: $brand-primary;

  @include button-colors($brand-primary);

  .badge {
    color: $brand-primary;
  }
}

.btn-default, .btn-gray {
  @include button-colors($brand-primary);
}

.pagination {
  > li > a,
  > li > span {
    &:hover,
    &:focus {
      @extend %background-primary;
      @extend %border-primary;
    }
  }
}

// Active class on item itself, not parent
.list-group-item {
  &.active,
  &.active:hover,
  &.active:focus {
    background-color: $brand-primary;
    border-color: $brand-primary;

    .list-group-item-text {
      color: $brand-primary;
    }
  }
}

.nav-pills {
  > li {
    // Active state
    &.active > a {
      &,
      &:hover,
      &:focus {
        background-color: $brand-primary;
      }
    }
  }
}

::selection {
  background-color: $brand-primary;
}
::-moz-selection {
  background-color: $brand-primary;
}




/*** Text Color
--------------------------------------------- ***/

.text-primary {
  @extend %text-primary;
}

a,
a.text-primary {
  &:hover,
  &:focus {
    @extend %text-primary;
  }
}




/*** Background Color Secondary
--------------------------------------------- ***/

.btn-secondary {
  background-color: $brand-secondary;
  border-color: $brand-secondary;

  @include button-colors($brand-secondary);

  .badge {
    color: $brand-secondary;
  }
}
