/*** Facebook Block
--------------------------------------------- ***/

.facebook-stats {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;

    .buttons .btn {
        margin-right: 10px;
        margin-bottom: 10px;
    }
    pre {
        background-color: rgba(255, 255, 255, 0.5);
    }
}



/*** facebook button ***/

.btn-facebook {
    padding-right: 50px;
    color: #fff;
    background-color: #3c5a98;
    position: relative;
    overflow: hidden;
    font-size: 15px;
    &:hover,
    &:focus {
        color: #fff;
    }

    .addon {
        width: 40px;
        height: 100%;
        line-height: 52px;
        font-size: 14px;
        display: inline-block;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.15);
        position: absolute;
        top: 0;
        right: 0;

        i {
            width: 20px;
            height: 20px;
            background: url(../images/facebook.svg) no-repeat top left;
            background-size: contain;
            display: inline-block;
        }
    }
    em {
        font-style: normal;
        font-weight: 600;
        font-size: 1.3em;
        display: none;
    }

    @media (min-width: $screen-xxs-min) {
        padding-left: 50px;
        padding-right: 30px;
        
        em {
            display: inline;
        }
        .addon {
            left: 0;
            right: auto;
            line-height: 62px;
        }
    }

    @media (min-width: $screen-xs-min) {
        padding-left: 70px;
        font-size: 15px;

        .addon {
            width: 50px;
            height: 100%;
            line-height: 75px;

            i {
                width: 26px;
                height: 26px;
            }
        }
        em {
            font-style: normal;
            font-weight: 600;
            font-size: 1.5em;
        }
    }

    @media (min-width: $screen-sm-min) {
        font-size: $font-size-base + 1;
    }

}



.fb_reset#fb-root {
    font-size: $font-size-base;
    line-height: 1.42857;
}