.block-upper {
    margin-bottom: 50px;
}


/*** Form Block
--------------------------------------------- ***/

.registration-area {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url("../images/bg.png");
    background-position: top center;
    background-size: 100%;


    @media (min-width: $screen-xxs-min) {
        padding-top: 60px;
    }
    @media (min-width: $screen-xs-min) {
        padding-top: 85px;
        padding-bottom: 55px;
    }
    @media (min-width: $screen-sm-min) {
        padding-top: 135px;
        padding-bottom: 85px;
    }
    @media (min-width: $screen-md-min) {
        padding-top: 150px;
    }
    @media (min-width: $screen-lg-min) {
        padding-top: 185px;
        padding-bottom: 185px;
        background-repeat: no-repeat;
        background-size: auto;
    }
}

.form-box {
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
    font-size: $font-size-h4;
    border-radius: 10px;
    border: 1px solid #cecece;
    background-color: #f6f6f6;
    .form-box-head {
        padding: 12px 15px;
        margin: -1px -1px 0 -1px;
        color: $white-base;
        background-color: #81afc5;
        border-radius: $btn-border-radius-large $btn-border-radius-large  0 0;
        h4 {
            margin-bottom: 0;
            font-size: $font-size-base;
        }
        .glyphicon {
            margin-right: 10px;
        }
        @media (min-width: $screen-xs-min) {
            h4 {
                font-size: $font-size-h4;
            }
        }
        @media (min-width: $screen-sm-min) {
            padding: 20px 30px;
        }
    }
    .form-box-contents {
        padding: 25px 15px;
        @include clearfix;
        @media (min-width: $screen-sm-min) {
            padding: 50px 30px;
        }
    }
    label {
        opacity: 0.7;
    }
}

.form-box-contents {
    > .row {
        > [class^="col-"] + [class^="col-"] {
            padding-top: 30px;
            margin-top: 30px;
            position: relative;
            &::before {
                height: 1px;
                content: '';
                background-color: #e7e7e7;
                position: absolute;
                top: 0px;
                left: 20px;
                right: 20px;
            }
        }
        @media (min-width: $screen-sm-min) {
            margin-left: -30px;
            margin-right: -30px;
            > [class^="col-"] {
                padding-left: 30px;
                padding-right: 30px;
            }
            > [class^="col-"] + [class^="col-"] {
                padding-top: 50px;
                margin-top: 50px;
                &::before {
                    left: 50px;
                    right: 50px;
                }
            }
        }
    }
    @media (min-width: $screen-md-min) {
        > .row > [class^="col-"] + [class^="col-"] {
            padding-top: 0px;
            margin-top: 0px;
            &::before {
                width: 1px;
                height: auto;
                top: 50px;
                bottom: 50px;
                left: 0px;
            }
        }
    }
    .form-block {
        position: relative;
        
        .form-control {
            &::-moz-placeholder {
                color: #e9e9e9;
            }
            &:-ms-input-placeholder {
                color: #e9e9e9;
            }
            &::-webkit-input-placeholder {
                color: #e9e9e9;
            }

            @media (min-width: $screen-sm-min) {
                padding: 8px 20px;
                font-size: $font-size-h4 - 3;
                font-weight: 600;
            }
            
        }
    }
}

.registration-form {
    .form-actions {
        text-align: right;
    }
    label {
        font-size: $font-size-base + 1;
    }
}

.login-form {
    .form-actions {
        .checkbox {
            font-size: $font-size-base;
            line-height: 20px;
        }
        @media (min-width: $screen-xs-min) {
            .checkbox {
                display: inline-block;
            }
            .btn {
                float: right;
            }
        }
    }
    @media (min-width: $screen-md-min) {
        .form-group {
            margin-bottom: 40px;
        }
        .form-control {
            height: 70px;
        }
    }
}

.form-actions {
    @include clearfix;
    .checkbox {
        position: relative;
        label {
            padding-left: 30px;
        }
        em {
            width: 20px;
            height: 20px;
            display: block;
            position: absolute;
            left: 0;
            top: 1px;
            background-color: #e1e1e1;
            border-radius: 4px;
            pointer-events: none;
            &::before {
                width: 18px;
                height: 18px;
                display: block;
                content: '';
                font-size: $font-size-base - 2;
                font-family: Fontawesome;
                text-align: center;
                position: absolute;
                left: 0;
                top: 1px;
            }
        }
        input[type="checkbox"] {
            margin-left: -30px;
        }
        input[type="checkbox"]:checked + em::before {
            content: '\f00c';
        }
    }
}

.form-head {
    @include clearfix;
    h4 {
        display: inline-block;
    }
}

.drop-area {
    .drop-text {
        opacity: 0.7;
        font-size: $font-size-base;
    }
    @media (min-width: 480px) {
        float: right;
        .drop-text {
            text-align: right;
            display: inline-block;
        }
    }
}

.drop-img {
    background: #fff;
    border: 2px solid #dcdcdc;
    width: 100px;
    height: 95px;
    text-align: center;
    padding-top: 25px;
    border-radius: 10px;
    margin: 0 0 10px 10px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    &.dragover {
        border: 2px dashed #81afc5;
    }
    i {
        color: #81afc5;
        font-size: floor($font-size-h4 * 2.2);
    }
}

.action-head {
    padding-bottom: 40px;
    margin-bottom: 40px;
    text-align: center;
    position: relative;
    &::after {
        width: 33px;
        height: 33px;
        line-height: 28px;
        display: block;
        content: '/';
        color: #aaa;
        background-color: #eaeaea;
        border: 1px solid #ddd;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        bottom: -15px;
    }
    &::before {
        width: 100%;
        height: 1px;
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;

		background: #f5f5f5;
		background: -moz-linear-gradient(left,  #f5f5f5 0%, #dddddd 50%, #f5f5f5 100%);
		background: -webkit-linear-gradient(left,  #f5f5f5 0%,#dddddd 50%,#f5f5f5 100%);
		background: linear-gradient(to right,  #f5f5f5 0%,#dddddd 50%,#f5f5f5 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#f5f5f5',GradientType=1 );
    }
    @media (min-width: $screen-sm-min) {
        margin-left: 30px;
        margin-right: 30px;
    }
    @media (min-width: $screen-md-min) {
        padding-bottom: 56px;
        margin-bottom: 56px;
    }
}
