mixin facebookBtn()
	a.btn.btn-facebook(href='#', ng-click='login()')
		span.addon
			i.facebook
		span.text
			| Login with 
			em Facebook


mixin facebookStats()
	.facebook-stats(ng-show="loginStatus != 'disconnected'")
		.buttons
			button.btn.btn-sm.btn-primary(type='button', ng-click='api()') api user data call
			button.btn.btn-sm.btn-secondary(type='button', ng-click='removeAuth()') remove auth
		pre
			| status:
			span(ng-bind="loginStatus")
		pre
			| username:
			span(ng-bind="user.first_name")
		pre
			| password:
			span(ng-bind="user.email")

