mixin loginForm()
	div(ng-controller="LoginController as vm")
		form.login-form(name='form', ng-submit='vm.login()', role='form')
			.form-group(ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }")
				input#username.form-control(type='text', name='username', ng-model='vm.username', placeholder='User Name', required='')
				span.help-block(ng-show='form.username.$dirty && form.username.$error.required') Username is required
			.form-group(ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }")
				input#password.form-control(type='password', name='password', ng-model='vm.password', placeholder='Password', required='')
				span.help-block(ng-show='form.password.$dirty && form.password.$error.required') Password is required
			.form-actions
				.checkbox
					label
						input(type='checkbox', name='remember', ng-change='rememberMe()', ng-model='remember')
						| Remember my password
						em
				button.btn.btn-primary(type='submit', ng-disabled='form.$invalid || vm.dataLoading') Login
		// /.login-form



mixin regForm()
	div(ng-controller="RegisterController as vm")
		form.registration-form(name='form', ng-submit='vm.register()', role='form')
			.form-head
				h4 Register
				.drop-area
					.drop-text
						h6.drop-title Profile Image
						.img-info(ng-repeat='f in files')
							span.img-name {{f.name}}
					.drop-img(ngf-drop='ngf-drop', ngf-select='ngf-select', ng-model='files', ngf-drag-over-class="'dragover'", ngf-multiple='true', ngf-allow-dir='true', accept='image/*', ngf-pattern="'image/*'")
						i.glyphicon.glyphicon-open
					// /.drop-img
				// /.drop-area
			.form-group(ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }")
				label(for='email') Email
				input#email.form-control(type='email', name='email', ng-model='vm.user.email', required='')
				span.help-block(ng-show='form.email.$dirty && form.email.$error.required') Email is required
			.form-group(ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }")
				label(for='username') user Name
				input#username.form-control(type='text', name='username', ng-model='vm.user.username', required='')
				span.help-block(ng-show='form.username.$dirty && form.username.$error.required') Username is required
			.form-group(ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }")
				label(for='password') Password
				input#password.form-control(type='password', name='password', ng-model='vm.user.password', required='')
				span.help-block(ng-show='form.password.$dirty && form.password.$error.required') Password is required
				input.form-control(type='hidden', name='filename', ng-value='vm.user.filename')
			.form-actions
				button.btn.btn-secondary(type='submit', ng-disabled='form.$invalid || vm.dataLoading') Register
