<!DOCTYPE html>
<html lang="en" ng-app="app" ng-cloak="">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>User Registration and Login</title>
        <!-- Google Fonts-->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet" type="text/css">
        <!-- Stylesheets-->
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/color.css">
    </head>

    <body>
        <div id="fb-root">
            <article>
                <div class="container">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
                    </div>
                </div>
                <div ng-view=""></div>
            </article>
        </div>
        <!-- Script Files-->
        <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="//code.angularjs.org/1.6.0/angular.min.js"></script>
        <script src="//code.angularjs.org/1.6.0/angular-route.min.js"></script>
        <script src="//code.angularjs.org/1.6.0/angular-cookies.min.js"></script>
        <script src="js/app.js"></script>
        <!-- facebook scripts-->
        <script src="js/angular-facebook.js"></script>
        <script src="js/controller/controller-facebook.js"></script>
        <script src="js/services/authentication.service.js"></script>
        <script src="js/services/flash.service.js"></script>
        <script src="js/services/user.service.local-storage.js"></script>
        <script src="js/ng-file-upload.min.js"></script>
        <script src="js/ng-file-upload-shim.js"></script>
        <script src="js/controller/controller.js"></script>
    </body>

</html>