$screen-xxs-min: 320px;


body {
    background-image: url("../images/pattern.jpg");
    background-repeat: repeat;
}

::selection {
  color: $white-base;
}
::-moz-selection {
  color: $white-base;
}


[ng\:cloak],
[ng-cloak],
.ng-cloak {
    display: none;
}

input.ng-dirty.ng-invalid {
    border-color: #f00;
}


.text-underline {
    text-decoration: underline;
}
.text-italic {
    font-style: italic;
}
.text-bold {
    font-family: 700;
}
.text-linethrough {
    text-decoration: line-through;
}
