/*** user listing ***/
.user-listing {
    margin-bottom: 30px;

	strong {
	    margin-right: 5px;
	    display: inline-block;
	    color: #333333;
	}
	span {
	    margin-right: 20px;
	    display: inline-block;
	}
}


