/*** overlay
--------------------------------------------- ***/
.overlay {
	color: $white-base;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;

	opacity: 0;
	visibility: hidden;

	&::before {
		opacity: .9;
		background-color: #000;
		display: block;
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
	}

	.active & {
		opacity: 1;
		visibility: visible;
	}

	h4 {
		color: inherit;
	}
}
