//
// Buttons Colors
// --------------------------------------------------

@mixin button-colors($color) {

  &:focus,
  &.focus {
    background-color: $color;
        border-color: $color;
    .badge {
      color: $color;
    }
  }
  &:hover {
    background-color: $color;
        border-color: $color;

    .badge {
      color: $color;
    }
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-color: $color;
        border-color: $color;

    &:hover,
    &:focus,
    &.focus {
      background-color: $color;
          border-color: $color;
    }
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: $color;
          border-color: $color;
    }
  }
}


//
// List Unstyled
// --------------------------------------------------

@mixin list-unstyled {
  padding-left: 0;
  list-style: none;
  margin: 0;
}
