div(ng-controller='HomeController as vm')
	.container
		.block-upper
			h1 Hi {{vm.user.username}}!
			p You're logged in!!
		h4 All registered users:
		ul.user-listing.list-unstyled
			li(ng-repeat='user in vm.allUsers')
				strong User Name:
				span {{user.username}}
				strong Email:
				span {{user.email}}
				strong Password:
				span {{user.password}}
				strong Image:
				span {{user.filename}}
				a(href='#', ng-click='vm.deleteUser(user.id)') Delete
		p
			a.btn.btn-primary(href='#!/login') Logout
