include ../includes/forms.jade
include ../includes/facebook.jade

div(ng-controller="FacebookController")
    .container
        +facebookStats()

    .container
        .registration-area
            .form-box
                .form-box-head
                    h4
                        i.glyphicon.glyphicon-edit
                        | Login To Your Account / Register New
                .form-box-contents
                    .row
                        .col-md-6
                            .form-block
                                .action-head
                                    +facebookBtn()
                                +loginForm()
                            // /.form-block
                        .col-md-6
                            .form-block
                                +regForm()
                            // /.form-block
            // /.form-box